# ====================================================================
# Python 核心运行缓存与环境（必须过滤）
# ====================================================================
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
pip-log.txt
pip-delete-this-directory.txt
.toast
.spyderproject
.spyproject
.ropeproject
node_modules/
venv/
.venv/
venv-1/
.venv-1/
ENV/
env/

# ====================================================================
# Pytest 与自动化测试框架报告缓存（必须过滤）
# ====================================================================
.pytest_cache/
.htmlcov/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.run/

# ====================================================================
# Allure 原始结果目录（只保留最后的测试报告，不提交大量碎json数据）
# ====================================================================
allure-results/
allure-report/

# ====================================================================
# 系统与 IDE 专属配置文件（防止污染他人电脑）
# ====================================================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
