# ==========================================
# 🌟 Python 运行与依赖临时缓存隔离
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# ==========================================
# 📊 Pytest 与自动化测试框架产物硬隔离
# ==========================================
.pytest_cache/
.htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/

# ==========================================
# 📈 Allure 与传统 HTML 报告原始数据强拦截
# ==========================================
# 极其重要：强制拦截本地跑测的原始数据，大厂规范只允许在云端 CI/CD 容器中重新编译
allure-results/
allure-report/
report.html
.html/

# ==========================================
# 💻 操作系统与本地 IDE 垃圾文件过滤
# ==========================================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
